Repository john-bampton/john-bampton.github.io, pull requests merged in 2025-09, with the labels that each got.

#4 Add resume page
  doc/source/_static/images/logo.jpeg
  doc/source/about.rst
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

#5 Update `about.rst` file
  doc/source/about.rst
Labels: documentation

#6 Styles
  doc/source/about.rst
  doc/source/conf.py
Labels: documentation

#7 Fix up date
  doc/source/about.rst
Labels: bug

#9 Add job
  doc/source/about.rst
Labels: good first issue

#10 More info resume page
  doc/source/about.rst
Labels: documentation

#13 Update tools.rst
  doc/source/tools.rst
Labels: documentation

#14 More docs
  doc/source/brisbane.rst
  doc/source/index.rst
  doc/source/tools.rst
Labels: documentation

#28 Max updates GitHub labler #20
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: enhancement

#29 Update actions/labeler@v6.0.1
  .github/workflows/pr-labeler.yml
Labels: documentation

#38 more info
  doc/source/top-places-to-visit-in-brisbane.rst
  doc/source/what-i-like-doing.rst
Labels: good first issue

#54 Update README.md
  README.md
Labels: documentation

#59 Big theme button
  doc/source/_static/custom.css
  doc/source/_templates/theme_switcher_sidebar.html
Labels: good first issue

#61 Add more pages and clean up
  doc/source/books.rst
  doc/source/index.rst
  doc/source/lego.rst
  doc/source/pens.rst
  doc/source/what-i-like-doing.rst
  doc/source/zuru-max.rst
Labels: documentation
